


    .container {
        margin-top: 30px;
    }

    h2 {
        color: #d6336c;
    }

    .form-select {
        width: 100%;
    }

    .table th, .table td {
        text-align: center;
    }

    .alert {
        margin-top: 15px;
    }

